:root {
  --ladrillo: rgb(158, 52, 13);
  --ladrillo-10: rgba(158, 52, 13, 0.1);
  --ladrillo-30: rgba(158, 52, 13, 0.3);
  --ladrillo-70: rgba(158, 52, 13, 0.7);
  --ladrillo-90: rgba(158, 52, 13, 0.9);

  --orange: rgb(198, 117, 19);
  --orange-90: rgba(198, 117, 19, .9);

  --orange-cream: rgb(255, 219, 174);

  --cream: rgb(215, 201, 166);  
  --cream-30: rgba(215, 201, 166, .3);


  --shadow: rgb(30,30,30);
  --shadow-10: rgba(30,30,30,.1);
  --shadow-30: rgba(30,30,30,.3);
  --shadow-70: rgba(30,30,30,.7);
  --shadow-90: rgba(30,30,30,.9);
}

#root {
  box-sizing: content-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* MOBILE */

nav {
  position: absolute;
  right: 0;
  top: -230px;
  padding-right: 30px;
  height: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-evenly;
  transition: all .5s ease-in-out;
  z-index: 1;
  background-color: var(--orange);
}

.nav-pages > a {
  padding: 3px;
  width: 50vw;
  text-align: right;
  color: bisque;
  transition: all .3s ease;
}

.nav-pages > a:hover {
  color: white;
  text-shadow: 0 0 7px var(--cream-30);
}

nav > h2 {
  text-wrap: nowrap;
  font-family: Outfit, sans-serif;
  font-weight: 700;
}

.active-navlink {
  background-color: var(--cream-30);
}

.menu-dropped {
  top: 0;
}

.menu-toggle {
  user-select: none;
}

.menu-arrow {
  font-size: 1.5rem;
  padding-right: 1rem;
}

.account {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-evenly;
}

.login-wrapper {
  background-image: url('/images/background.jpg');
  background-color: rgb(158, 158, 158);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid rgba(90,90,90,.7);
  border-radius: 7px;
  background-color: var(--ladrillo-90);
  box-shadow: inset -90px -90px 180px 50px var(--shadow-10);
  padding: 3rem;
}

.login > button {
  background-color: var(--orange);
}

.login > input {
  line-height: 2rem;
  font-size: 1rem;
  background-color: silver;
  outline: none;
  border: 2px solid var(--cream);
  border-radius: 3px;
  color: var(--ladrillo);
}

.log-button {
  transition: all .3s ease;
  background-color: var(--ladrillo-30);
  color: var(--cream);
  padding: 7px 12px;
}

.log-button:hover {
  color: white;

}

.logueado {
  background-color: green;
}

.dashboard {
  background-color: var(--orange-cream);
}

.destinos-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 25px;
  margin-top: 70px;
}

.destinos-wrapper > h2 {
  margin: 1rem;
  font-size: 2rem;
}

.destino-card {
  width: 80vw;
  border: 1px solid rgba(90,90,90,.7);
  background-color: rgba(90,90,90,.3);
  border-radius: 7px;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .1s ease-in-out;
}

.destino-card > h2 {
  margin: 0;
}

.destino-card > button {
  margin-top: 1rem;
}

.destino-card > img {
  width: 90%;
}

.destino-card > p {
  width: 90%;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.greenball {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.recorrido-wrapper {
  width: 90vw;
  min-height: calc(90vh - 70px);
  border: 1px solid rgba(90,90,90,.7);
  border-radius: 7px;
  background-color: rgba(90,90,90,.2);
  margin-top: 6rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.recorrido-wrapper > h4 {
  margin-bottom: 0;
  margin-top: 1rem;
}

.recorrido-username {
  font-size: 1.3rem;
  color: chartreuse;
}

.recorrido-precio {
  font-size: 1.8rem;
  color: chartreuse;
}

.recorrido-item {
  box-sizing: border-box;
  border-radius: 7px;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(30,30,30,.3);
  overflow: hidden;
  position: relative;
  transition: all .3s ease-in-out;
  outline: 1px solid transparent;
}

.recorrido-item:hover {
  box-shadow: 0 0 7px 1px rgba(90,90,90,.7);
  outline-color: silver;
}

.recorrido-item-bkg {
  position: absolute;
  z-index: -1;
  width: 100%;
  opacity: .5;
  filter: contrast(2.5) blur(4px);
  transition: all .7s ease-in-out;
}

.recorrido-item > h3 {
  width: 120px;
  text-align: left;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 1rem;
}

.recorrido-item > h3, .recorrido-item > h4 {
  text-shadow: 0 0 5px black;
}

.recorrido-item > h3:hover {
  text-overflow: unset;
  overflow: visible;
}

.recorrido-item > button {
  padding: 7px;
  margin-right: 1rem;
}

.destino-page {
  position: relative;
  box-sizing: border-box;
  width: 80vw;
  border: 1px solid rgba(90,90,90,.7);
  border-radius: 7px;
  background-color: rgba(90,90,90,.2);
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.destino-page > img {
  width: 90%;
  border-radius: 7px;
}

.destino-page > h2 {
  font-size: 2.5rem;
  margin: 0;
  margin-top: 2rem;
}

.destino-page > .precio {
  position: absolute;
  padding: 10px;
  background-color: rgba(9,9,9,.7);
  border-radius: 9px;
  font-size: 1.5rem;
  top: 50%;
  left: 18px;
}

.destino-page > .buttons-wrapper > .comprar-btn {
  background-color: green;
}

.destino-page > .buttons-wrapper > .volver-btn {
  background-color: rgba(255, 112, 23, 0.715);
}

.destino-page > .comprado-msg {
  font-size: 12px;
  text-align: right;
  position: absolute;
  right: 10%;
  top: 50%;
  background-color: rgba(30,90,30,.7);
  padding: 3px 7px;
  border-radius: 3px;
}

.destino-page > .buttons-wrapper {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1025px) {

  .login {
    width: 30vw;
    height: 50vh;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
  }

  .login > h2 {
    font-size: 3rem;
    width: 40vw;
    line-height: 12vh;
    background-color: var(--orange);
    margin: 0;
    border-radius: 3px;
    box-shadow: 
      0 3px 21px 3px var(--shadow-30),
      0 7px 18px 3px var(--ladrillo-30);
  }  

  .login > p {
    font-size: 1.2rem;
    font-weight: 200;
    width: 25vw;
  }
  
  .login > input {
    width: 70%;
    font-size: 1.6rem;
    line-height: 2.5rem;
    padding-left: 9px;
  }

  .login > button {
    width: 30%;
  }
  
  nav {
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    position: fixed;
    height: 4rem;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
  }

  nav > h2 {
    font-size: 2rem;
  }

  nav > h2 > svg {
    font-size: 1.5rem;
    margin-right: 10px;
  }

  .account {
    flex-direction: row;
    padding-right: 3vw;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
  }

  .account > span {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    cursor: pointer;
  }

  .nav-pages > a {
    width: 20vw;
    line-height: 3rem;
    text-align: center;
  }


  .nav-pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50vw;
  }

  .menu-toggle {
    position: absolute;
    z-index: -10;
    opacity: 0;
  }

  .destino-card {
    width: 25vw;
  }

  .destino-card:hover {
    filter: brightness(1.08);
    transform: scale(1.01);
    box-shadow: 0 3px 9px 1px rgba(90,0,220,.2);
  }

  .destino-page {
    width: 50vw;
    margin-top: 80px;
    margin-bottom: 50px;
    justify-content: space-evenly;
    box-shadow: 0 7px 18px 9px rgba(9,9,9,.2);
  }

  .destino-page> h2 {
    margin-top: 0;
  }

  .destino-page > .buttons-wrapper {
    width: 300px;
  }

  .destino-page > img {
    width: 90%;
  }
  
  .destino-page > .precio {
    font-size: 2rem;
    top: 20%;
    left: 5rem;
  }

  .destino-page > .comprado-msg {
    top: 20%;
  }

  .recorrido-wrapper {
    min-height: auto;
    width: 50vw;
  }

  .recorrido-wrapper > * {
    user-select: none;
  }

  .recorrido-item > h3 {
    width: 200px;
  }

}