:root {
  font-family: Outfit, sans-serif;


  --ladrillo: #9e340d;
  --ladrillo-10: rgba(158, 52, 13, 0.1);
  --ladrillo-30: rgba(158, 52, 13, 0.3);
  --ladrillo-70: rgba(158, 52, 13, 0.7);
  --ladrillo-90: rgba(158, 52, 13, 0.9);

  --orange: #c67513;
  --orange-90: rgba(198, 117, 19, .9);
  --orange-70: rgba(198, 117, 19, .7);
  --orange-30: rgba(198, 117, 19, .3);

  --orange-cream: rgb(255, 219, 174);
  --orange-cream-10: rgba(255, 219, 174,.1);
  --orange-cream-30: rgba(255, 219, 174,.3);
  --orange-cream-70: rgba(255, 219, 174,.7);
  --orange-cream-90: rgba(255, 219, 174,.9);

  --cream: #d7c9a6;
  --cream-10: rgba(215, 201, 166, .1);
  --cream-30: rgba(215, 201, 166, .3);
  --cream-70: rgba(215, 201, 166, .7);
  --cream-90: rgba(215, 201, 166, .9);

  --green: #43753b;
  --light-green: #d1ff51;


  --shadow: rgb(30,30,30);
  --shadow-10: rgba(30,30,30,.1);
  --shadow-30: rgba(30,30,30,.3);
  --shadow-50: rgba(30,30,30,.5);
  --shadow-70: rgba(30,30,30,.7);
  --shadow-90: rgba(30,30,30,.9);
}

#root {
  box-sizing: content-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.double-border {
  border: 2px solid;
  border-top-color: var(--orange-70);
  border-left-color: var(--orange-70);
  border-right-color: var(--ladrillo);
  border-bottom-color: var(--ladrillo);
}

.card-fade {
  box-shadow: 
    inset -90px -90px 180px 50px var(--shadow-30),
    inset -90px -90px 90px 30px var(--ladrillo-30);
}

.green-card-fade {
  box-shadow: 
    inset -90px -90px 180px 50px var(--shadow-30),
    inset -90px -90px 90px 30px var(--green);
}

.bkg-ladrillo {
  background-color: var(--ladrillo-70);
}

.bkg-green {
  background-color: var(--green);
}

.active {
  animation: appear .5s ease;
}

@keyframes appear {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

/* MOBILE */

nav {
  position: fixed;
  left: 0;
  top: 0;
  padding: auto 10px;
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: all .5s ease-in-out;
  z-index: 20;
  background-color: var(--orange);
}

.nav-pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.nav-pages > a {
  padding: 5px 12px;
  color: bisque;
  transition: all .3s ease;
  font-size: 18px;
  border-radius: 3px;
}

.nav-pages > a:hover {
  color: white;
  text-shadow: 0 0 7px var(--cream-30);
}

nav > h2 {
  text-wrap: nowrap;
  font-family: Outfit, sans-serif;
  font-weight: 700;
  margin-left: 20px;
}

.active-navlink {
  background-color: var(--cream-30);
}

.account {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 20px;
}

.title {
  font-size: 36px;
}

.login-wrapper {
  background-image: url('/images/background.jpg');
  background-color: rgb(158, 158, 158);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 7px;
  background-color: var(--ladrillo-90);
  padding: 3rem;
}

.login > button {
  background-color: var(--orange);
}

.login > input {
  line-height: 2rem;
  font-size: 1rem;
  background-color: silver;
  outline: none;
  border: 2px solid var(--cream);
  border-radius: 3px;
  color: var(--ladrillo);
}

.log-button {
  transition: all .3s ease;
  background-color: var(--ladrillo-30);
  color: var(--cream);
  padding: 7px 12px;
}

.log-button:hover {
  color: white;

}

.logueado {
  background-color: green;
}

.dashboard {
  background-color: var(--orange-cream);
  width: 100vw;
  min-height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.destinos-title {
  margin-top: 108px;
  color: var(--orange-90);
  font-weight: 500;
}

.destinos-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding: 25px;
}

.destinos-wrapper > h2 {
  margin: 1rem;
  font-size: 2rem;
}

.destino-card {
  width: 80vw;
  background-color: var(--ladrillo-70);
  border-radius: 7px;
  border: 3px solid var(--ladrillo-70);
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.destino-card > h2 {
  margin: 0;
  width: 100%;
  line-height: 3.4rem;
  transform: translateX(-34px);
  background-color: var(--orange);
  border-top-left-radius: 3px;
  box-shadow: 
    inset 7px 0 7px 7px var(--shadow-10),
    0 3px 9px 2px var(--shadow-30);
}

.destino-card > button {
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  background-color: var(--orange);
}

.destino-card > img {
  width: 90%;
  border: 7px solid gainsboro;
}

.destino-card > p {
  font-size: 1rem;
  font-weight: 300;
  width: 100%;
  padding: 20px;
  background-color: var(--green);
  transform: translateX(18px);
  border-top-right-radius: 5px;
  box-shadow: 
    inset -7px 0 7px 9px var(--shadow-10),
    0 3px 9px 2px var(--shadow-30);
}

.greenball {
  position: absolute;
  font-size: 2rem;
  line-height: 2rem;
  color: green;
  filter: drop-shadow(0 0 3px white);
  right: 10px;
  bottom: 10px;
}

.recorrido-wrapper {
  width: 80vw;
  border: 1px solid rgba(90,90,90,.7);
  border-radius: 7px;
  background-color: var(--ladrillo-90);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 12px;
  margin: 30px auto;
}

.recorrido-wrapper > h4 {
  margin-bottom: 0;
  margin-top: 1rem;
}

.recorrido-username {
  font-size: 1.3rem;
}

.recorrido-precio {
  font-size: 1.8rem;
}

.recorrido-precio, .recorrido-username {
  color: var(--light-green);
  background-color: var(--orange-30);
  padding: 9px;
  border-radius: 9px;
}

.recorrido-item {
  box-sizing: border-box;
  border-radius: 7px;
  width: 90%;
  max-height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(30,30,30,.3);
  overflow: hidden;
  position: relative;
  transition: all .3s ease-in-out;
  outline: 1px solid transparent;
}

.recorrido-item:hover {
  box-shadow: 0 0 7px 1px rgba(90,90,90,.7);
  outline-color: silver;
}

.recorrido-item-bkg {
  position: absolute;
  z-index: 1;
  width: 100%;
  opacity: .5;
  filter: contrast(2.5) blur(4px);
  transition: all .7s ease-in-out;
}

.recorrido-item > h3 {
  width: 120px;
  text-align: left;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 1rem;
}

.recorrido-item > h3, .recorrido-item > h4 {
  z-index: 10;
  text-shadow: 0 0 5px black;
  font-size: 21px;
}

.recorrido-item > h3:hover {
  text-overflow: unset;
  overflow: visible;
}

.recorrido-item > button {
  z-index: 10;
  padding: 7px;
  margin-right: 1rem;
}

.destino-page {
  position: relative;
  box-sizing: border-box;
  width: 80vw;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  padding: 30px;
  transition: all .5s ease;
  margin-top: 100px;
  margin-bottom: 100px;
}

.destino-page img {
  width: 90%;
  border-radius: 7px;
}

.destino-page h2 {
  font-size: 2.5rem;
  margin: 0;
}

.destino-page .precio {
  position: absolute;
  padding: 10px;
  background-color: rgba(9,9,9,.7);
  border-radius: 9px;
  font-size: 1.5rem;
  top: 18%;
  left: 18px;
}

.destino-page .buttons-wrapper  .comprar-btn {
  background-color: green;
}

.destino-page .buttons-wrapper .volver-btn {
  background-color: rgba(255, 112, 23, 0.715);
}

.destino-page .comprado-msg {
  font-size: 12px;
  text-align: right;
  position: absolute;
  right: 10%;
  top: 18%;
  background-color: rgba(30,90,30,.7);
  padding: 3px 7px;
  border-radius: 3px;
}

.destino-info {
  padding-bottom: 18px;
}

.destino-info > h4 {
  margin-bottom: 0;
}

.destino-info > p {
  margin-top: 0;
}

.destino-page .buttons-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1025px) {

  .login {
    width: 30vw;
    height: 50vh;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
  }

  .login-wrapper {
    height: 100vh;
    width: 100%;
  }

  .title {
    font-size: 70px;
  }

  .login > h2 {
    font-size: 3rem;
    width: 40vw;
    line-height: 12vh;
    background-color: var(--orange);
    margin: 0;
    border-radius: 3px;
    box-shadow: 
      0 3px 21px 3px var(--shadow-70),
      0 7px 18px 3px var(--ladrillo-30);
  }  

  .login > p {
    font-size: 1.2rem;
    font-weight: 200;
    width: 25vw;
  }
  
  .login > input {
    width: 70%;
    font-size: 1.6rem;
    line-height: 2.5rem;
    padding-left: 9px;
  }

  .login > button {
    width: 30%;
  }
  
  nav {
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    position: fixed;
    height: 4rem;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
  }

  nav > h2 {
    font-size: 2rem;
    padding-left: unset;
    margin-left: unset;
  }

  nav > h2 > svg {
    font-size: 1.5rem;
    margin-right: 10px;
  }

  .account {
    flex-direction: row;
    padding-right: 3vw;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
  }

  .account > span {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    cursor: pointer;
  }

  .nav-pages > a {
    width: 20vw;
    font-size: 1.2rem;
    line-height: 3rem;
    text-align: center;
  }


  .nav-pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50vw;
  }

  .dashboard {
    padding-top: 4rem;
  }

  .menu-toggle {
    position: absolute;
    z-index: -10;
    opacity: 0;
  }

  .destinos-title {
    font-size: 3rem;
    margin-top: 5rem;
  }

  .destino-card {
    width: 25vw;
    transition: all .5s ease;
  }

  .destino-card:hover {
    filter: brightness(1.08);
    transform: scale(1.01);
  }

  .destino-page {
    width: 100%;
    height: calc(100dvh - 4rem);
    border-radius: 0;
    margin-top: unset;
    margin-bottom: unset;
  }

  .destino-page .buttons-wrapper {
    width: 70%;
    margin: 20px auto;
  }

  .buttons-wrapper  button {
    font-size: 1.5rem;
  }

  .destino-page  img {
    width: unset;
    height: 50vh;
    box-shadow: 3px 3px 12px 3px var(--shadow-30);
  }
  
  .destino-page .precio {
    font-size: 2rem;
    top: 21%;
    left: 25vw;
  }

  .destino-page .comprado-msg {
    top: 25%;
    right: 25vw;
  }

  .destino-info {
    text-align: right;
    text-shadow: 0 1px 2px black;
    position: absolute;
    background-color: var(--ladrillo-70);
    box-shadow: inset -50px -30px 90px 10px var(--shadow-50);
    width: 20vw;
    max-height: 36vh;
    height: fit-content;
    padding: 25px 40px;
    top: 25%;
    transform: translate(25%, 25%);
    right: 30vw;
    overflow: hidden;
    border-radius: 9px;
  }

  .destino-info h4 {
    font-size: 21px;
    margin: 0;
  }

  .destino-info p {
    margin-top: 0;
  }

  .destino-info hr {
    opacity: .5;
  }

  .recorrido-wrapper {
    min-height: auto;
    width: 50vw;
  }

  .recorrido-wrapper > h2 {
    font-size: 32px;
  }

  .recorrido-wrapper > * {
    user-select: none;
  }

  .recorrido-item > h3 {
    width: 200px;
  }

}